:root {
  --purple: #5b387a;
  --primary-purple: #6c458f;
  --dark-purple: #2d004f;
  --light-purple: #f1daff;
  /* neutral */
  --neutral30: #494649;
  --neutral40: #615d61;
  --neutral60: #948f94;
  --neutral80: #cbc5c9;

  /* neutral-variant */
  --neutral-variant10: #1e1a22;
  --neutral-variant20: #342e37;
  --neutral-variant30: #4b454d;
  --neutral-variant40: #635c65;
  --neutral-variant60: #968e98;
  --neutral-variant80: #cdc4ce;
  --neutral-variant90: #e9dfea;
  
  /* light */
  --color-secondary: #5f6300;
  --color-secondary-container: #e4ea73;
  --color-on-secondary-container: #1c1d00;
  --color-tertiary: #7d5800;
  --color-tertiary-container: #ffdea9;
  --color-on-tertiary-container: #271900;
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-background: #fffbff;
  --color-on-background: #1d1b1e;
  --color-surface: #fffbfe;
  --color-on-surface: #221e23;
  --color-inverse-on-surface: #f6eff3;
  --color-inverse-primary: #dfb7ff;
  --color-outline: #7c757e;
}
